In [11]:
##Imports

import pandas as pd
from sqlalchemy import create_engine

In [12]:
##Store CSV into DataFrame

csv_file = "../Data/IMDb movies.csv"
IMBD_df = pd.read_csv(csv_file)
IMBD_df.sample(5)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
9591,tt0051790,La congiura dei boiardi,Ivan Groznyy. Skaz vtoroy: Boyarskiy zagovor,1958,12/6/1960,"Biography, History",88,Soviet Union,Russian,Sergei M. Eisenstein,...,"Nikolay Cherkasov, Serafima Birman, Pavel Kado...",As Ivan the Terrible attempts to consolidate h...,7.9,6567,NaN,NaN,"$1,655",NaN,40.0,32.0
53482,tt10735778,Nashi Kotyky,Nashi Kotyky,2020,1/30/2020,Comedy,110,"Ukraine, USA, Canada","Ukrainian, Russian",Volodymyr Tykhyy,...,"Dmytro Tuboltsev, Stanislav Bzhezinskyi, Petro...",In 2014 Russia's hybrid war against Ukraine tu...,8.4,682,NaN,NaN,"$350,515",NaN,19.0,NaN
38069,tt0246514,Solo per il successo,Viktor Vogel - Commercial Man,2001,6/14/2002,"Comedy, Romance",108,Germany,German,Lars Kraume,...,"Alexander Scheer, Götz George, Chulpan Khamato...",Viktor Vogel gets a huge career boost when he ...,5.8,706,"$12,000,000",NaN,"$32,933",NaN,16.0,13.0
17397,tt0074348,Il cadavere del mio nemico,Le corps de mon ennemi,1976,1977,"Crime, Drama, Mystery",116,France,French,Henri Verneuil,...,"Jean-Paul Belmondo, Bernard Blier, Marie-Franc...",Francois always despised the textile barons wh...,6.7,1483,FRF 15000000,NaN,NaN,NaN,4.0,10.0
71603,tt3525168,Morto tra una settimana... O ti ridiamo i soldi,Dead in a Week (Or Your Money Back),2018,11/22/2018,"Comedy, Drama",90,UK,English,Tom Edmunds,...,"Tom Wilkinson, Aneurin Barnard, Marion Bailey,...",After his ninth unsuccessful attempt on his ow...,6.2,4742,NaN,NaN,"$839,568",38.0,70.0,36.0

In [13]:
##Read Columns

for col in IMBD_df.columns: 
    print(col)

imdb_title_id
title
original_title
year
date_published
genre
duration
country
language
director
writer
production_company
actors
description
avg_vote
votes
budget
usa_gross_income
worlwide_gross_income
metascore
reviews_from_users
reviews_from_critics

In [14]:
##Cast year in to integer so to sort and drop
IMBD_df[['year']] = IMBD_df[['year']].apply(pd.to_numeric) 
print(IMBD_df.dtypes)

imdb_title_id             object
title                     object
original_title            object
year                       int64
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

In [15]:
##Cast year in to integer so to sort and drop

IMBD_df = IMBD_df[(IMBD_df.country == "USA") & (IMBD_df.year > 1999) & (IMBD_df.year < 2018)] 
IMBD_df.sample(5)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
62008,tt1791611,Spreading Darkness,Spreading Darkness,2017,11/14/2017,"Action, Crime, Drama",101,USA,English,Josh Eisenstadt,...,"Eric Roberts, John Savage, James Duval, Domini...",A corrupt CEO grows increasingly paranoid he i...,3.5,124,NaN,NaN,NaN,NaN,NaN,NaN
59321,tt1550524,White Irish Drinkers,White Irish Drinkers,2010,3/25/2011,Drama,109,USA,English,John Gray,...,"Nick Thurston, Geoffrey Wigdor, Karen Allen, S...","Brooklyn, 1975: two brothers looking for a way...",6.8,1743,NaN,"$31,056","$31,056",51.0,34.0,26.0
55349,tt1201135,Barking Water,Barking Water,2009,9/1/2009,Drama,85,USA,English,Sterlin Harjo,...,"Bebe Harjo, Gabriel Pelayo, Frederick Schroede...",Frankie is dying. Irene hasn't forgiven him. A...,5.9,159,"$200,000",NaN,NaN,NaN,NaN,6.0
53495,tt1074214,6 mogli e un papà,The Six Wives of Henry Lefay,2009,6/18/2009,Comedy,95,USA,English,Howard Michael Gould,...,"Tim Allen, Barbara Barrie, Elisha Cuthbert, Je...",A grieving daughter tries to arrange her fathe...,5.1,2986,NaN,NaN,NaN,NaN,11.0,9.0
55720,tt1230211,Perkins' 14,Perkins' 14,2009,3/24/2010,"Horror, Thriller",95,USA,English,Craig Singer,...,"Patrick O'Kane, Richard Brake, Michale Graves,...","In the small town of Stone Cove, Maine, deputy...",5.0,2124,NaN,NaN,"$103,054",NaN,25.0,23.0

In [16]:
## Choose Columns,  drop rows where reviews_from_critics is NaN, remove duplicate movies
IMBD_df = IMBD_df.rename(columns={'title': 'movie_title'})
IMBD_df = IMBD_df[['movie_title', 'year', 'genre', 'duration', 'director', 'description', 'avg_vote', 'reviews_from_users', 'reviews_from_critics']].copy()

IMBD_df=IMBD_df.drop_duplicates(['movie_title'] , keep ='first') 

IMBD_df = IMBD_df.reset_index(drop=True)
IMBD_df.to_csv("../Output/IMBD_clean.csv")

IMBD_df.sample(10)

,movie_title,year,genre,duration,director,description,avg_vote,reviews_from_users,reviews_from_critics
8540,Homeless,2015,Drama,92,Clay Riley Hassler,An 18 year old boy navigates his way through l...,6.5,8.0,7.0
6412,The Ideal,2011,"Fantasy, Horror, Thriller",96,Wes Tomasz Ciesla,It's a high school summer job for Julia and Al...,2.3,11.0,3.0
486,Novocaine,2001,"Comedy, Crime, Drama",95,David Atkins,A dentist finds himself a murder suspect after...,5.8,102.0,73.0
8118,Lily,2013,Drama,85,Matt Creed,Lily is an exploration of a vulnerable period ...,5.9,2.0,7.0
4814,In the Gray,2012,"Crime, Drama",122,Rob Holloway,Undercover narcotics officer Yancy is always f...,7.0,NaN,NaN
2766,Omen - Il presagio,2006,"Action, Adventure, Fantasy",110,John Moore,An American official realizes that his young s...,5.5,568.0,239.0
8344,Feels So Good,2013,Comedy,81,Josh Stolberg,"After his best friend loses his virginity, soc...",5.4,2.0,NaN
6987,Abel's Field,2012,Drama,104,Gordie Haakstad,An inspiring drama about a solitary high schoo...,6.5,10.0,1.0
10555,The Mustanger and the Lady,2017,"Romance, Western",108,James Cotten,"Julie's time with her benefactor, Kyle Allison...",6.2,29.0,10.0
3037,My Name Is Bruce,2007,"Comedy, Fantasy, Horror",84,Bruce Campbell,Mistaken for his character Ash from the 'Evil ...,6.2,93.0,108.0

In [17]:
#Connect to Local Database

rds_connection_string = "postgres:postgres@localhost:5432/ETL_project_movie_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [18]:
#Check for tables
engine.table_names()

['imbd_data']

In [19]:
### Use pandas to load csv converted DataFrame into database
IMBD_df.to_sql(name='imbd_data', con=engine, if_exists='append', index=False)

In [20]:
##Confirm data has been added by querying the netflix_data table
pd.read_sql_query('select * from imbd_data', con=engine).head()

,movie_title,year,genre,duration,director,description,avg_vote,reviews_from_users,reviews_from_critics
0,Kate & Leopold,2001,"Comedy, Fantasy, Romance",118,James Mangold,An English Duke from 1876 is inadvertedly drag...,6.4,341.0,115.0
1,The Naked Monster,2005,"Comedy, Horror, Sci-Fi",100,"Wayne Berwick, Ted Newsom","A brain-dead sheriff, a stolid secret agent an...",5.4,15.0,8.0
2,The Fantasticks,2000,"Musical, Romance",86,Michael Ritchie,A mysterious fair that comes to a small commun...,5.6,70.0,24.0
3,For the Cause,2000,"Action, Adventure, Drama",100,"David Douglas, Tim Douglas",Earth is in a state of constant war and two co...,3.5,9.0,7.0
4,The Silent Force,2001,Action,90,David H. May,An elite Federal force whose objective is to e...,4.3,5.0,4.0

In [21]:
#See how many movies by release year

IMBD__by_year_df = IMBD_df["year"].value_counts()
IMBD__by_year_df.head()

2017    885
2016    839
2013    799
2014    787
2015    782
Name: year, dtype: int64