In [1]:
##Imports

import pandas as pd
from sqlalchemy import create_engine

In [2]:
##Store CSV into DataFrame

csv_file = "../Data/IMDb movies.csv"
IMBD_df = pd.read_csv(csv_file)
IMBD_df.sample(5)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
18176,tt0076666,La febbre del sabato sera,Saturday Night Fever,1977,3/13/1978,"Drama, Music",118,USA,"English, Italian",John Badham,...,"John Travolta, Karen Lynn Gorney, Barry Miller...","Anxious about his future after high school, a ...",6.8,69620,"$3,000,000","$94,213,184","$237,113,184",77.0,256.0,103.0
6015,tt0040868,"Texas, Brooklyn & Heaven","Texas, Brooklyn & Heaven",1948,7/16/1948,"Comedy, Romance",76,USA,English,William Castle,...,"Guy Madison, Diana Lynn, James Dunn, Michael C...",A would-be playwright and a young woman escapi...,6.2,282,"$1,000,000",NaN,NaN,NaN,12.0,1.0
16474,tt0071330,Il cittadino si ribella,Il cittadino si ribella,1974,9/17/1974,"Action, Thriller",105,Italy,"English, Italian",Enzo G. Castellari,...,"Franco Nero, Giancarlo Prete, Barbara Bach, Re...","Carlo Antonelli, an engineer from Genoa, gets ...",7.0,1219,NaN,NaN,NaN,NaN,24.0,44.0
3046,tt0030442,Gioia di vivere,Merrily We Live,1938,3/4/1938,"Comedy, Romance",95,USA,English,Norman Z. McLeod,...,"Constance Bennett, Brian Aherne, Alan Mowbray,...",Dizzy society matron Emily Kilbourne has a hab...,7.4,1525,NaN,NaN,NaN,NaN,53.0,15.0
23539,tt0093996,Slumber Party Massacre II,Slumber Party Massacre II,1987,10/16/1987,"Comedy, Horror, Music",77,USA,English,Deborah Brock,...,"Crystal Bernard, Jennifer Rhodes, Kimberly McA...","Courtney Bates, the younger sister of Valerie,...",4.6,4443,NaN,NaN,NaN,NaN,95.0,81.0

In [3]:
##Read Columns

for col in IMBD_df.columns: 
    print(col)

imdb_title_id
title
original_title
year
date_published
genre
duration
country
language
director
writer
production_company
actors
description
avg_vote
votes
budget
usa_gross_income
worlwide_gross_income
metascore
reviews_from_users
reviews_from_critics

In [8]:
##Cast year in to integer so to sort and drop
IMBD_df[['year']] = IMBD_df[['year']].apply(pd.to_numeric) 
print(IMBD_df.dtypes)

imdb_title_id             object
title                     object
original_title            object
year                       int64
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

In [7]:
##Cast year in to integer so to sort and drop

IMBD_df = IMBD_df[(IMBD_df.country == "USA") & (IMBD_df.year > 1999) & (IMBD_df.year < 2018)] 
IMBD_df.sample(5)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
70726,tt3311988,The Confines,The Confines,2015,6/13/2015,"Horror, Mystery, Thriller",86,USA,English,Eytan Rockaway,...,"Jason Patric, Louisa Krause, Mark Margolis, Ez...",Take a terrifying plunge into the warped mind ...,5.0,4093,NaN,NaN,NaN,32.0,47.0,43.0
41184,tt0302886,Old School,Old School,2003,8/8/2003,Comedy,88,USA,English,Todd Phillips,...,"Luke Wilson, Will Ferrell, Vince Vaughn, Jerem...",Three friends attempt to recapture their glory...,7.1,211665,"$24,000,000","$75,585,093","$87,135,520",54.0,408.0,119.0
51709,tt0946984,A Bothered Conscience,A Bothered Conscience,2006,10/22/2006,Horror,87,USA,English,Dennis Smithers Jr.,...,"Dennis Smithers Sr., Stephen Martin, MacFarlan...","In the backwoods of Arkansas, a father and son...",4.2,158,"$2,300",NaN,NaN,NaN,11.0,7.0
40803,tt0294881,Role of a Lifetime,Role of a Lifetime,2002,2/5/2002,Drama,98,USA,English,Antony Alda,...,"Scott Bakula, Edie Dearing, Beverly Taylor, Ma...",A has-been actor drops from public view and is...,5.4,131,NaN,NaN,NaN,NaN,3.0,NaN
61807,tt1772321,Noise Matters,Noise Matters,2013,3/15/2013,"Comedy, Drama, Music",88,USA,English,Matias Masucci,...,"Matias Masucci, Ugo Bianchi, Bret Roberts, Joe...",A satire on the relationship between fame and ...,7.0,152,"$100,000",NaN,NaN,NaN,1.0,3.0