In [1]:
##Imports

import pandas as pd
from sqlalchemy import create_engine

In [2]:
##Store CSV into DataFrame

csv_file = "../Data/IMDb movies.csv"
IMBD_df = pd.read_csv(csv_file)
IMBD_df.sample(5)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
16972,tt0072912,Detective Harper: acqua alla gola,The Drowning Pool,1975,10/30/1975,"Crime, Drama, Mystery",108,USA,"English, French",Stuart Rosenberg,...,"Paul Newman, Joanne Woodward, Anthony Francios...",A big-city private detective travels to the De...,6.5,4643,NaN,NaN,NaN,48.0,39.0,25.0
29006,tt0113406,In the Kingdom of the Blind,"In the Kingdom of the Blind, the Man with One ...",1995,3/1/1995,"Crime, Drama",99,USA,English,Nick Vallelonga,...,"Michael Biehn, William Petersen, Leo Rossi, Pa...",Al is hired by an acquaintance who happens to ...,4.8,246,NaN,NaN,NaN,NaN,7.0,1.0
52487,tt1017461,Sympathy,Sympathy,2007,4/13/2007,"Drama, Horror, Mystery",105,USA,English,Andrew Moorman,...,"Marina Shtelen, Aaron Boucher, Steven Pritchard",When a reckless bank robber and his rebellious...,5.1,359,NaN,NaN,NaN,NaN,15.0,49.0
53772,tt1090316,Foul Gesture,Foul Gesture,2006,5/17/2007,"Comedy, Crime, Drama",100,Israel,Hebrew,Tzahi Grad,...,"Ya'ackov Ayali, Ania Bukstein, Tal Grushka, Ri...",NaN,6.2,122,NaN,NaN,"$9,183",NaN,3.0,5.0
57373,tt1365030,Madrasapattinam,Madrasapattinam,2010,7/9/2010,"Drama, History, Romance",162,India,Tamil,"A.L. Vijay, A.L. Vijay",...,"Arya, Carole Trangmar-Palmer, Amy Jackson, Coc...","A film set in 1940s India, during the country'...",7.8,2093,NaN,NaN,"$69,160",NaN,12.0,2.0

In [3]:
##Read Columns

for col in IMBD_df.columns: 
    print(col)

imdb_title_id
title
original_title
year
date_published
genre
duration
country
language
director
writer
production_company
actors
description
avg_vote
votes
budget
usa_gross_income
worlwide_gross_income
metascore
reviews_from_users
reviews_from_critics

In [4]:
##Cast year in to integer so to sort and drop
IMBD_df[['year']] = IMBD_df[['year']].apply(pd.to_numeric) 
print(IMBD_df.dtypes)

imdb_title_id             object
title                     object
original_title            object
year                       int64
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

In [5]:
##Cast year in to integer so to sort and drop

IMBD_df = IMBD_df[(IMBD_df.country == "USA") & (IMBD_df.year > 1999) & (IMBD_df.year < 2018)] 
IMBD_df.sample(5)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
76099,tt4906164,Mercy Christmas,Mercy Christmas,2017,11/28/2017,"Action, Comedy, Horror",83,USA,English,Ryan Nelson,...,"David Ruprecht, Gwen Van Dam, Whitney Nielsen,...","When Michael Briskett meets the perfect woman,...",4.9,463,NaN,NaN,NaN,NaN,10.0,17.0
49754,tt0783551,The Mirror,The Mirror,2007,8/26/2011,"Drama, Mystery",97,USA,English,Stephen Eckelberry,...,"Kelly LeBrock, Thaao Penghlis, Erin Cahill, Sh...",A young girl with a seemingly normal mother an...,5.3,104,NaN,NaN,NaN,NaN,4.0,1.0
44332,tt0380420,Home of Phobia,Home of Phobia,2004,1/18/2004,"Comedy, Romance",92,USA,English,Ryan Shiraki,...,"Sam Huntington, Marla Sokoloff, Mike Erwin, He...",A horny college freshman feigns being gay to b...,5.4,1503,NaN,"$10,718","$10,718",41.0,10.0,19.0
68860,tt2850480,The Girl Who Invented Kissing,The Girl Who Invented Kissing,2017,4/29/2017,"Drama, Family, Romance",106,USA,English,Tom Sierchio,...,"Vincent Piazza, Dash Mihok, Suki Waterhouse, A...","This movie is the story of a nameless, pill-po...",6.2,553,NaN,NaN,NaN,NaN,15.0,NaN
74907,tt4514660,Terror Birds,Terror Birds,2016,3/8/2016,"Action, Adventure, Comedy",87,USA,NaN,Sean Cain,...,"Jessica Lee Keller, Lindsey Sporrer, Greg Evig...",When Maddy Stern discovers her father has gone...,3.5,255,NaN,NaN,NaN,NaN,12.0,4.0

In [6]:
## Choose Columns,  drop rows where reviews_from_critics is NaN, remove duplicate movies
IMBD_df = IMBD_df.rename(columns={'title': 'movie_title'})
IMBD_df = IMBD_df[['movie_title', 'year', 'genre', 'duration', 'director', 'description', 'avg_vote', 'reviews_from_users', 'reviews_from_critics']].copy()

IMBD_df=IMBD_df.drop_duplicates(['movie_title'] , keep ='first') 

IMBD_df = IMBD_df.reset_index(drop=True)
IMBD_df.to_csv("../Output/IMBD_clean.csv", index=False)

IMBD_df.sample(10)

,movie_title,year,genre,duration,director,description,avg_vote,reviews_from_users,reviews_from_critics
5266,An Acrid Yarn,2010,Thriller,99,"Ike Duncan, Tony Roberts",Based on real events in a small town where the...,2.6,1.0,NaN
9147,For the Plasma,2014,"Comedy, Drama, Sci-Fi",94,"Bingham Bryant, Kyle Molzan","A digital-pastoral drama of friendship, landsc...",5.8,1.0,17.0
9197,Blue Mountain State: The Rise of Thadland,2016,"Comedy, Sport",90,Lev L. Spiro,When the Dean of Blue Mountain State threatens...,5.8,29.0,7.0
6917,The Gambler,2014,"Crime, Drama, Thriller",111,Rupert Wyatt,Literature professor and gambler Jim Bennett's...,6.0,185.0,182.0
3147,Miles from Home,2006,Drama,97,Ty Hodges,"Plagued by bad influences, bad choices and bad...",5.5,7.0,2.0
844,Bark!,2002,"Comedy, Drama",94,Kasia Adamik,A comedy about misfits in which a veterinarian...,5.0,26.0,4.0
852,Vampire Junction,2001,"Horror, Western",94,JesÃºs Franco,After receiving a tape from Doctor Spencer abo...,2.6,7.0,10.0
4119,From Within,2008,"Horror, Mystery, Thriller",89,Phedon Papamichael,A small Maryland town is gripped by a curse wh...,5.6,51.0,52.0
2054,Starkweather,2004,"Action, Crime, Drama",92,Byron Werner,In 1958 Nebraska 19 year old garbageman Charle...,4.7,40.0,7.0
3765,Heatstroke,2008,"Action, Horror, Sci-Fi",83,Andrew Prowse,Gradually people notice the heat index is risi...,2.9,18.0,3.0

In [7]:
#Connect to Local Database

rds_connection_string = "postgres:postgres@localhost:5432/ETL_project_movie_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [8]:
#Check for tables
engine.table_names()

['imbd_data', 'netflix_data', 'oscar_wins', 'oscar_movies']

In [30]:
### Use pandas to load csv converted DataFrame into database
IMBD_df.to_sql(name='imbd_data', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "imbd_data_pkey"
DETAIL:  Key (movie_title)=(Kate & Leopold) already exists.

[SQL: INSERT INTO imbd_data (movie_title, year, genre, duration, director, description, avg_vote, reviews_from_users, reviews_from_critics) VALUES (%(movie_title)s, %(year)s, %(genre)s, %(duration)s, %(director)s, %(description)s, %(avg_vote)s, %(reviews_from_users)s, %(reviews_from_critics)s)]
[parameters: ({'movie_title': 'Kate & Leopold', 'year': 2001, 'genre': 'Comedy, Fantasy, Romance', 'duration': 118, 'director': 'James Mangold', 'description': 'An English Duke from 1876 is inadvertedly dragged to modern day New York where he falls for a plucky advertising executive.', 'avg_vote': 6.4, 'reviews_from_users': 341.0, 'reviews_from_critics': 115.0}, {'movie_title': 'The Naked Monster', 'year': 2005, 'genre': 'Comedy, Horror, Sci-Fi', 'duration': 100, 'director': 'Wayne Berwick, Ted Newsom', 'description': 'A brain-dead sheriff, a stolid secret agent and a sexy scientist team with a grumpy retired monster fighter to battle a 60 foot, three-eyed cross between man and dinosaur.', 'avg_vote': 5.4, 'reviews_from_users': 15.0, 'reviews_from_critics': 8.0}, {'movie_title': 'The Fantasticks', 'year': 2000, 'genre': 'Musical, Romance', 'duration': 86, 'director': 'Michael Ritchie', 'description': 'A mysterious fair that comes to a small community in the countryside could make real the illusions of two teenagers.', 'avg_vote': 5.6, 'reviews_from_users': 70.0, 'reviews_from_critics': 24.0}, {'movie_title': 'For the Cause', 'year': 2000, 'genre': 'Action, Adventure, Drama', 'duration': 100, 'director': 'David Douglas, Tim Douglas', 'description': 'Earth is in a state of constant war and two colonies of humans have been sent to a far away world. The colonists create a new civilization but have inherited the worst traits of their ...', 'avg_vote': 3.5, 'reviews_from_users': 9.0, 'reviews_from_critics': 7.0}, {'movie_title': 'The Silent Force', 'year': 2001, 'genre': 'Action', 'duration': 90, 'director': 'David H. May', 'description': "An elite Federal force whose objective is to eliminate organized crime is violently assassinated by an evil Asian crime lord. The sole survivor of the group teams up with his late partner's...", 'avg_vote': 4.3, 'reviews_from_users': 5.0, 'reviews_from_critics': 4.0}, {'movie_title': 'What Is It?', 'year': 2005, 'genre': 'Drama', 'duration': 72, 'director': 'Crispin Glover', 'description': 'What Is It? is a bewildering, unnerving, surreal, blackly comic film from the visionary mind of Crispin Glover that tells the inner and outer struggles of a young man facing villains and demons on multiple planes.', 'avg_vote': 5.6, 'reviews_from_users': 19.0, 'reviews_from_critics': 18.0}, {'movie_title': 'Glitter', 'year': 2001, 'genre': 'Drama, Music, Romance', 'duration': 104, 'director': 'Vondie Curtis-Hall', 'description': 'A young singer dates a disc jockey who helps her get into the music business, but their relationship become complicated as she ascends to super stardom.', 'avg_vote': 2.2, 'reviews_from_users': 319.0, 'reviews_from_critics': 75.0}, {'movie_title': 'Horror in the Attic', 'year': 2001, 'genre': 'Comedy, Horror, Mystery', 'duration': 100, 'director': 'Jeremy Kasten', 'description': 'Trevor is a young man who has been sentenced to a long stay in a mental hospital after brutally killing his girlfriend. However, the longer Trevor is in stir, the more he wonders if the ...', 'avg_vote': 5.0, 'reviews_from_users': 65.0, 'reviews_from_critics': 22.0}  ... displaying 10 of 10696 total bound parameter sets ...  {'movie_title': 'Dimension Z', 'year': 2017, 'genre': 'Horror', 'duration': 70, 'director': 'Jarret Blinkhorn, Jesse H. Knight', 'description': 'When the zombie apocalypse arrives, groups of survivors band together to defend themselves at any cost. Unfortunately for the remaining few, zombies have evolved into different species ...', 'avg_vote': 6.6, 'reviews_from_users': 2.0, 'reviews_from_critics': None}, {'movie_title': 'House Shark', 'year': 2017, 'genre': 'Action, Adventure, Comedy', 'duration': 111, 'director': 'Ron Bonk', 'description': 'When he finds a shark that can travel on land residing in his home, an ex-cop enlists the help of a grizzled former real estate agent, and an eccentric "house shark" expert to kill the beast.', 'avg_vote': 4.8, 'reviews_from_users': 32.0, 'reviews_from_critics': 11.0})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [31]:
##Confirm data has been added by querying the netflix_data table
pd.read_sql_query('select * from imbd_data', con=engine).head()

,movie_title,year,genre,duration,director,description,avg_vote,reviews_from_users,reviews_from_critics
0,Kate & Leopold,2001,"Comedy, Fantasy, Romance",118,James Mangold,An English Duke from 1876 is inadvertedly drag...,6.4,341.0,115.0
1,The Naked Monster,2005,"Comedy, Horror, Sci-Fi",100,"Wayne Berwick, Ted Newsom","A brain-dead sheriff, a stolid secret agent an...",5.4,15.0,8.0
2,The Fantasticks,2000,"Musical, Romance",86,Michael Ritchie,A mysterious fair that comes to a small commun...,5.6,70.0,24.0
3,For the Cause,2000,"Action, Adventure, Drama",100,"David Douglas, Tim Douglas",Earth is in a state of constant war and two co...,3.5,9.0,7.0
4,The Silent Force,2001,Action,90,David H. May,An elite Federal force whose objective is to e...,4.3,5.0,4.0

In [21]:
#See how many movies by release year

IMBD__by_year_df = IMBD_df["year"].value_counts()
IMBD__by_year_df.head()

2017    885
2016    839
2013    799
2014    787
2015    782
Name: year, dtype: int64